<div class="container mt-5">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="img_avatar1.png" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">John Doe</h4>
                    <p class="card-text">Some example text.</p>
                    <p class="card-text">Target Value</p>
                    <p class="card-text">Target Left</p>
                    <p class="card-text"> Created * days ago</p>
                </div>
            </div>
        </div>
    </div>
</div>