<!-- Hero Section -->
<div class="text-center text-dark py-5">
    <p class="hero-content">Your home</p>
    <p class="hero-content">for help</p>
    <a href="/newFundraiser" class="btn bg-white mr-2 bg-container">Start Fundraiser</a>
</div>