 {{#if logged_in}}
<form id="createFund" action="/fund" method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="title" class="form-label">Give your fundraiser a title!</label>
        <input type="text" class="form-control" name="title">
    </div>
    <div class="mb-3">
        <select class="form-select form-select-md mb-3" aria-label=".form-select-lg example" name="categoryId">
            <option selected>Select fund category</option>
            {{#each categories as |category|}}
            {{> category-options}}
            {{/each}}
        </select>
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Tell your story!</label>
        <textarea class="form-control" name="description" rows="4"></textarea>
    </div>
    <div class="mb-3">
        <label for="targetVal" class="form-label">How much do you want to raise?</label>
        <input type="text" class="form-control" name="targetVal">
    </div>
    <div class="mb-3">
        <label for="image" class="form-label">Picture Upload</label>
        <input type="file" class="form-control" name="image">
    </div>
    <div class="mb-3 text-center">
        <button type="submit" class="btn btn-primary mt-3">Create your fundraiser!</button>
    </div>
</form>
{{else}}
<a href="/login">You must login first to view this page</a>
{{/if}}