<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h3>Your account details</h3>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <h5>Signup for charity account</h5>
        </div>
        <div class="col text-right">
            <p>Already have an account? <a href="/login">Sign in</a></p>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-6">
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Enter First Name">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Enter Last Name">
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email Address">
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <div class="form-group">
                <label for="confirmEmail">Confirm Email address</label>
                <input type="email" class="form-control" id="confirmEmail" name="confirmEmail"
                    placeholder="Confirm Email Address">
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password">
            </div>
            <p>Your password must have:</p>
            <p> * At least 8 characters </p>
            <p> * Add 1 number </p>
            <p> * Add special character</p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col">
            <button type="submit" class="btn btn-primary">Signup</button>
        </div>
    </div>
</div>